
.transp1 {
    opacity: 0.05;
}

.transp2 {
    opacity: 0.45;
}

.small-center {
    text-align: center;
    margin: auto; 
}

li {
    font-style: italic;
}

.VerdeSalud {
    background-color: #64922f;
}

.VerdeSaludClaro {
    background-color: #9ecc3b;
    border-color: #9ecc3b;
    box-shadow: -4px -3px 3px black;
    color: #222;
}

.button:hover {
    background-color: #64922f;
}


.form{
    margin-top: 3em;
}

input:focus {
    outline:10px #64922f;
    border-color:  #64922f;
}

input:hover{
    background-color: #64922f ;
}

.colorB{
    color: black;
}

.form-container {
    height: 50px;
}

.icono{
    margin-top: 0.5em;
}

.b0{
    margin-bottom: 0px;
}

.relative{
    position: relative;
}

.p-t-1{
    padding-top: 15px;
}

h2 {
    padding: 25px;
    text-align: center;
}


.show {
    left: 65%;
    
    background-color: #64922f;
    position: relative; 
    border-radius: 10px;
    box-shadow: -4px -3px 3px black;
    opacity: 0.8;
    
    
  }

.showColr {    
    
    background-color: #64922f;
    position: absolute;
    justify-content: left;
    height: auto;
    transition:all;
    transition-duration: 0.5s;
    font-size: 0.9em;
    width: auto;
    overflow-x: hidden;
    padding: auto;
  }

.NavR{
    
    position: relative;
    border-radius: 10px;    
    align-items: center;
    justify-content: center;
    height: auto;

    font-weight: 900;
    

}

.NavR:hover {
      background-color: #9ecc3b;
      text-shadow: 1px 1px black;
      
      
  }

.link {
    
    height: 30%;
      width: 100%;
  }


.Vacio{
    position: relative;
    margin-top: 5%;
    margin-left: 10%;
    height: 90%;
}

.borderImg{
    border-radius: 30px;

}

.button.light-color{
    margin-top: 5px;

}

.button.light-color:hover {
    background-color: #666;
    color: aliceblue;
    }

.fix{
    position: sticky;
    
}

.Nav{
    font-size: 1em;
}

.fuente-boton {
    font-size: 0.85rem;
}

.button{
    padding: 0.5rem;
}

.button-center {
    padding-top: 2rem;
    padding-left: 0.5rem; 
}

.oF {object-fit: contain;
}
