
.transp1 {
    opacity: 0.05;
}

.transp2 {
    opacity: 0.65;
}

.small-center {
    text-align: center;
    margin: auto; 
}

li {
    font-style: italic;
}

.VerdeSalud {
    background-color: #64922f;
}

.VerdeSaludClaro {
    background-color: #9ecc3b;
    border-color: #9ecc3b;
    box-shadow: -4px -3px 3px black;
    color: #222;
}

.button:hover {
    background-color: #64922f;
}


.form{
    margin-top: 1em;
}

input:focus {
    outline:10px #64922f;
    border-color:  #64922f;
}

input:hover{
    background-color: #64922f ;
}

.colorB{
    color: black;
}

.form-container {
    height: 50px;
}

.icono{
    margin-top: 0.5em;
}

.b0{
    margin-bottom: 0px;
}

.relative{
    position: relative;
}

.p-t-1{
    padding-top: 15px;
}

h2 {
    padding: 25px;
    text-align: center;
}


.show {
    left: 75%;
    background-color: #64922f;
    position: absolute; 
    border-radius: 10px;
    
  }

.showColr {    
    background-color: #64922f;
    position: absolute;
    justify-content: left;
    height: 9em;
    transition:all;
  }

.NavR{
    margin: -4px;
    position: absolute;
    border-radius: 10px;
    text-shadow: #222 30px;
   
  }
.NavR:hover {
      background-color: #9ecc3b;
      text-shadow: 1px 1px black;
      padding: 1px;
      margin: 1px;
  }