.container-slider{
    position: relative;
    width: 33%;
    max-width: 900px;
    margin: auto;
    overflow: hidden;
    border-radius: 5% ;
    box-shadow: 0 0 0 0px #888,
                 0 15px 50px;
    margin-bottom: 15px;
    
    -webkit-border-radius: 5% ;
    -moz-border-radius: 5% ;
    -ms-border-radius: 5% ;
    -o-border-radius: 5% ;
   
}

.slider{
    padding-bottom: 50px;
    display: flex;
    width: 400%;
    height: 20em;
    margin-left: -100%;
}

.slider--section{
    padding: 5px;
    width: 100%;
    height: 90%;
    padding-top: 1em;
}

.slider--img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:contain;

}

.slider--btn{
    position: absolute;
    width: 14%;
    height: 14%;
    background: #9ecc3b;
    top: 45%;
    transform: translateY(-50%);
    font-size: 150%;
    font-weight: bold;
    font-family: monospace;
    text-align:center;
    border-radius: 10%;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.slider--btn:hover{
    background-color: #fff;
}

.slider--btn--right{
    right: 15%;
}

.slider--btn--left{
    left: 15%;
}