

@import "~ed-grid";
@import "~edteam-style-guides/edteam-style-guides";

.small {
    @include hideFrom(m)
  }
  
.medio {
    @include showFrom(m)
}

.ed-header {
  position : fixed;
  top      : 0;
  width    : 100%;
  z-index  : 100;

  .logo { height : 2rem }

  // Posicionamiento del nav
  // Utilizamos el mixin to() de EDgrid para que sólo se aplique en móvil
  .nav {
      @include to(lg) { 
        position : fixed;
        left     : 0;
        bottom   : 0;
        background : rgb(15, 15, 15);
      }
  }

  .menu { list-style : none }
 
   // Colores de links del menú
  .link {
    color : black;
    &.active { color : cornflowerblue }
    @include from(lg) { color : rgb(8, 8, 8) }
  }

   // Estilos para los íconos
  .icon {
    --size : 1.5rem;
    width  : var(--size);
    height : var(--size);
    fill   : currentColor;
  }
  
}