
.container-slider{
    position: relative;
    width: 50%;
    max-width: 400px;
    margin: auto;
    overflow: hidden;
    border-radius: 3% ;
    box-shadow: 0 0 0 0px #888,                 0 15px 50px;
    
    -webkit-border-radius: 3% ;
    -moz-border-radius: 3% ;
    -ms-border-radius: 3% ;
    -o-border-radius: 3% ;
}

.slider{
    display: flex;
    width: 400%;
    margin-left: -100%;
    
    
}

.slider--section{
    margin: 3%;
    width: 100%;
    height: 90%;
    
}

.slider--img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit:contain;

}

.slider--btn{
    display: flex;
    position: absolute;
    width: 14%;
    height: 14%;
    background: #9ecc3b;
    top: 45%;
    transform: translateY(-50%);
    font-size: 175%;
    font-weight: bold;
    font-family: monospace;

    align-items: center;
  justify-content: center;
   
    border-radius: 10%;
    cursor: pointer;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
}

.slider--btn:hover{
    background-color: #fff;
}

.slider--btn--right{
    right: 10%;
}

.slider--btn--left{
    left: 10%;
}

@keyframes palpi {
    0%{ opacity: 0; }
    50%{ opacity:1;}
    100%{ opacity:0;}
    from{ transform: scale(0.8); -webkit-transform: scale(0.8); -moz-transform: scale(0.8); -ms-transform: scale(0.8); -o-transform: scale(0.8); }
    50%{ transform:none; -webkit-transform:none; -moz-transform:none; -ms-transform:none; -o-transform:none; }
    to { transform:scale(0.8); -webkit-transform:scale(0.8); -moz-transform:scale(0.8); -ms-transform:scale(0.8); -o-transform:scale(0.8); }
  }
  
  .atento{
    animation: palpi 2s infinite;
    -webkit-animation: palpi 2s infinite;
}

.box-shadow{
    border-radius: 5px;
    box-shadow: 3px 3px 10px 3px #9ecc3b;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.oF {object-fit: contain;
}

/* Esto es para el menu de RECURSOS */
.fijo{
    
    position: fixed;
    z-index: 10;
    
}

.caja-fija{
    height: 8rem;
    
}

a.myanchor {
    display: block;
       position: relative;
       top: -180px;
       visibility: hidden;} 
                            /* hasta aca */
